<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IF4HEALTH Site Management</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://if4health.s3.sa-east-1.amazonaws.com/gambiarra/css/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://if4health.s3.sa-east-1.amazonaws.com/gambiarra/css/stylesheets/timeline.css">

  </head>
<body>
  <nav name="topo" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" data-target="#myNavbar" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="/"><i aria-hidden="true" class="fa fa-lg fa-home"></i> Home</a>
        </li>
        <li>
          <a class="nav-link" href="/students"><i aria-hidden="true" class="fa fa-lg fa-users"></i> Alunos</a>
        </li>
        <li>
          <a class="nav-link" href="/works"><i aria-hidden="true" class="fa fa-lg fa-file-text"></i> Publicações</a> 
        </li>
        <li>
          <a class="nav-link" href="/projects"><i aria-hidden="true" class="fa fa-lg fa-search"></i> Projetos</a> 
        </li>
      </ul>
    </div>
  </nav>


<div class="container">

<section class="mt-3">
  <!-- <h2>Sobre</h2> -->
  <div class="row">

      <div class="col-12 col-md-12">
           <div class="card mb-3">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://if4health.s3.sa-east-1.amazonaws.com/gambiarra/css/img/logo-quadrado.jpeg" alt="logomarca if4health IFSul" class="img-fluid-test">
                  </div>
                  <div class="col">
                    <div class="card-body text-center">
                      <h3 class="card-title text-original-dark-blue"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></h3>
                      <h4 class="card-subtitle mb-2 text-muted">IF4Health Site Management</h4>
                      <p class="card-text text-justify">
                        Este projeto foi criardo para estudar MERN (Mongo DB, Express, ReactJS e NodeJS) stack enquanto desenvolvo um servidor para o <code><a target="_blank" href="https://if4health.netlify.app/">site IF4Health</a></code>. Somente duas Secoes do site sao editaveis. O restante eh estatico. Use os botoes abaixo. Lembre-se: eh um projeto desenvolvido para fins de aprendizagem. 
                      </p>
                      <p class="card-text text-center">
                        <a class="btn btn-success mx-3" role="button" href="/students"><i aria-hidden="true" class="fa fa-lg fa-users"></i> Alunos</a>
                        <a class="btn btn-success mx-3" role="button" href="/works"><i aria-hidden="true" class="fa fa-lg fa-file-text"></i> Publicações</a>
                        <a class="btn btn-success mx-3" role="button" href="/projects"><i aria-hidden="true" class="fa fa-lg fa-search"></i> Projetos</a>
                      </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>


    </div>

</section>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>