<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>IF4HEALTH Site Management</title>

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://if4health-files.s3.sa-east-1.amazonaws.com/gambiarra/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="https://if4health-files.s3.sa-east-1.amazonaws.com/gambiarra/stylesheets/timeline.css">

        <script type="text/javascript" async>
            let linkCount = 1;

            function newLinkInput(){
                linkCount += 1;
                document.getElementById("links").insertAdjacentHTML("beforeend", `
                    <div id=link${linkCount}>
                        <input class="form-control" type="text" placeholder="If4health" name="linkName${linkCount}" required>
						<input class="form-control" type="text" placeholder="https://if4health.netlify.app/" name="linkUrl${linkCount}">
                        <button class="btn btn-outline-danger btn-sm" onClick="deleteLink(${linkCount})"><i aria-hidden="true" class="fa fa-trash"></i></button>
                    </div> 
                `);
            }			  

            function deleteLink(id){
                document.querySelector(`#link` + id).remove();
            }

			function deleteLinkTree(){
				console.log("id");
			}

        </script>

		<%
		function extractIdCode(id) {
			const regex = /ObjectId\("(\w+)"\)/;
			const match = regex.exec(id);
			return match[1];
		}
		%>
    </head>
    
	<body>
		<nav name="topo" class="navbar navbar-expand-lg navbar-dark">
			<button class="navbar-toggler" data-target="#myNavbar" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="navbar-nav">
					<li>
						<a class="nav-link" href="/"><i aria-hidden="true" class="fa fa-lg fa-home"></i> Home</a>
					</li>
					<li>
						<a class="nav-link" href="/students"><i aria-hidden="true" class="fa fa-lg fa-users"></i> Alunos</a>
					</li>
					<li>
						<a class="nav-link" href="/works"><i aria-hidden="true" class="fa fa-lg fa-file-text"></i> Publicações</a> 
					</li>
					<li>
						<a class="nav-link" href="/projects"><i aria-hidden="true" class="fa fa-lg fa-file-text"></i> Projetos</a> 
					</li>
					<li>
						<a class="nav-link" href="/linkTrees"><i aria-hidden="true" class="fa fa-lg fa-link"></i> Link Trees</a> 
					  </li>
				</ul>
			</div>
		</nav>
	
		<div class="container">
			<div class="row">
				<div class="col-md-9 m-auto">
					<h1 class="text-center display-4 my-4"> CRUD de Link Trees - IF4Health </h1>
					<form enctype="multipart/form-data" action="/linkTrees/myForm" method="POST">
						<div class="form-group">
							<label>Titulo:</label>
							<input class="form-control" type="text" placeholder="titulo" name="tittle" required>
						</div>
						<div class="form-group">
							<label>Links:</label>
							<div id="links">
								<input class="form-control" type="text" placeholder="If4health" name="linkName1">
								<input class="form-control" type="text" placeholder="https://if4health.netlify.app/" name="linkUrl1">
							</div>
	 						<a role="button" class="btn btn-outline-primary btn-sm" onclick="newLinkInput()" style="color: #82888c; border-color:#82888c">Adicionar Outro Link</a>
            				<br/>	
          				</div>
          				<button type="submit" class="btn btn-success btn-block">Submit</button>
        			</form>
      			</div>
    		</div>
  		</div>
  		<hr>
  			<h5> Painel de Link Trees </h5>
  			<table class="table table-sm">
  				<thead class="thead-dark">
  				  <tr>
  				    <th>Titulo</th>
  				  </tr>
  				</thead>


				<tr>
					<%
						let i = 0;
						linkTrees.forEach((e) => {
							let id = e._id.toString();
					%>
							<tr><%= e.tittle %></tr>
							<button class="btn btn-outline-danger btn-sm delete-linktree" name="<%= id %>">Delete</button>
							<br>
					<%
						i += 1;
						})
					%>
				</tr>
  		    </table>    
  	<script src="/javascripts/new-main.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>