<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>IF4HEALTH Site Management</title>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://if4health-files.s3.sa-east-1.amazonaws.com/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css"
    href="https://if4health-files.s3.sa-east-1.amazonaws.com/stylesheets/timeline.css">

</head>

<body>
  <nav name="topo" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" data-target="#myNavbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
  </nav>


  <div class="container">

    <section class="mt-3">
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="card mb-3 d-flex align-items-center">
            <div class="row no-gutters">
              <div class="col">
                <div class="card-body text-center">
                  <h2 style="width: 50rem;">Você não tem autorização para acessar este sistema.</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>